html,
body {
  font-family: montserrat;
  margin: 0;
  padding: 0;
  scrollbar-width: none;
  text-decoration: none;
}

.main-screen {
  position: relative;
  width: 100%;
  height: 800px;
  /* background: url("background.png") no-repeat center center/cover; */
  background-color: lightgreen;
}

header {
  position: absolute;
  display: flex;
  width: 90%;
  height: 7%;
  color: white;
  background-color: lightblue;
  margin-top: 10px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-self: center;
}

.logo-img {
  width: 4%;
  background-color: lightcoral;
}

nav {
  width: 60%;
}

nav ul {
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul li a {
  text-decoration: none;
  color: inherit;
}

.right-section {
  display: flex;
  width: 20%;
  justify-content: space-between;
  flex-direction: row;
  background-color: lightcoral;
}
