html,
body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-weight: 600;
  scrollbar-width: none;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.main-screen {
  position: relative;
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/background.png") no-repeat center center;
  background-size: cover;
}

header {
  position: absolute;
  display: flex;
  width: 90%;
  height: 7%;
  color: white;
  font-weight: 600;
  font-size: 1.2rem;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  justify-content: space-between;
  align-items: center;
}

.logo-img {
  width: 5%;
}

nav {
  display: flex;
  justify-content: center;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

nav ul li a {
  text-decoration: none;
  color: inherit;
}

.right-section {
  display: flex;
  min-width: 30%;
  justify-content: flex-end;
  align-items: center;
  gap: 30px;
  flex-direction: row;
}

.language-selector-button,
span {
  font-size: 18px;
  font-weight: 700;
  background: transparent;
  color: rgba(54, 255, 4, 0.8);
  border: none;
  cursor: pointer;
}

span {
  cursor: default;
}

/* 7 */

.info-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
  align-items: flex-start;
  position: absolute;
  top: 50%;
  left: 37%;
  transform: translate(-50%, -50%);
  text-align: start;
  font-weight: 600;
  color: white;
}

.info-title span {
  font-size: 1em;
  color: rgba(54, 255, 4, 0.8);
}

.info-title {
  width: 90%;
  font-size: 2.4vw;
  margin-bottom: 20px;
}

.info {
  width: 70%;
  font-size: clamp(1rem, 1.8vw, 1.3rem);
  margin-bottom: 20px;
}

.more-info-button {
  font-family: Montserrat;
  font-weight: 600;
  font-size: clamp(1rem, 1vw, 1.2rem);
  padding: clamp(10px, 2vw, 15px) clamp(15px, 3vw, 20px);
  background-color: rgba(54, 255, 4, 0.8);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.description-container {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-top: 50px;
}

.description-title {
  padding: 0 50px;
  font-size: 2.4vw;
  color: rgba(32, 152, 2, 0.8);
}

.fact-container,
.fact-reverse {
  display: flex;
  padding: 0 50px;
  font-size: 1.5vw;
  align-items: center;
  gap: 2vw;
}

.fact-reverse {
  flex-direction: row-reverse;
  text-align: end;
}

.fact {
  align-items: center;
}

.fact span {
  font-size: 1.5vw;
}

.fact-img {
  width: 40%;
  border-radius: 18px;
}

.hexagon {
  position: relative;
  width: 100vw; /* Полная ширина экрана */
  height: calc(100vw / 5); /* Высота по пропорции ширины */
  background-color: rgba(54, 255, 4, 0.8);
  border-width: 3px;
  border-color: rgba(32, 152, 2, 0.8);
  margin: 170px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 50vw solid transparent; /* Половина ширины основного элемента */
  border-right: 50vw solid transparent; /* Половина ширины основного элемента */
}

.hexagon:before {
  bottom: 100%;
  border-bottom: calc(100vw / 14) solid rgba(54, 255, 4, 0.8); /* Половина высоты основного элемента */
  /* border-width: 3px; */
  /* border-color: rgba(32, 152, 2, 0.8); */
}

.hexagon:after {
  top: 100%;
  border-top: calc(100vw / 14) solid rgba(54, 255, 4, 0.8); /* Половина высоты основного элемента */
}

.news-container {
  padding: 0 4vw;
}

.news-title-container {
  display: flex;
  justify-content: space-between;
  height: 70px;
  color: rgba(32, 152, 2, 0.8);
}

.news-title {
  font-size: 2vw;
}

.new-container {
  display: flex;
  justify-content: space-between;
}

.new-image {
  width: 24vw;
  height: 60vh;
  object-fit: cover;
}

@media screen and (max-width: 1200px) {
  header {
    font-size: 0.95rem;
  }

  nav ul {
    gap: 20px;
  }
}

@media screen and (max-width: 1050px) {
  .main-screen {
    height: 90%;
  }

  header {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
    height: auto;
    font-size: 0.75rem;
  }

  nav ul {
    flex-direction: column;
    gap: 10px;
  }

  .right-section {
    width: 100%;
    justify-content: center;
    margin-top: 10px;
  }
}
