html,
body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-weight: 600;
  scrollbar-width: none;
  overflow-x: hidden;
  scroll-behavior: smooth;
  align-items: center;
}

.main-screen {
  position: relative;
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/background.png") no-repeat center center;
  background-size: cover;
}

header {
  position: absolute;
  display: flex;
  width: 90%;
  height: 7%;
  color: white;
  font-weight: 600;
  font-size: 1.2rem;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  justify-content: space-between;
  align-items: center;
}

.logo-img {
  width: 5%;
}

nav {
  display: flex;
  justify-content: center;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

nav ul li a {
  text-decoration: none;
  color: inherit;
}

.right-section {
  display: flex;
  min-width: 30%;
  justify-content: flex-end;
  align-items: center;
  gap: 30px;
  flex-direction: row;
}

.language-selector-button,
span {
  font-size: 18px;
  font-weight: 700;
  background: transparent;
  color: rgba(54, 255, 4, 0.8);
  border: none;
  cursor: pointer;
}

span {
  cursor: default;
}

.info-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
  align-items: flex-start;
  position: absolute;
  top: 50%;
  left: 37%;
  transform: translate(-50%, -50%);
  text-align: start;
  font-weight: 600;
  color: white;
}

.info-title span {
  font-size: 1em;
  color: rgba(54, 255, 4, 0.8);
}

.info-title {
  width: 90%;
  font-size: 2.4vw;
  margin-bottom: 20px;
}

.info {
  width: 70%;
  font-size: clamp(1rem, 1.8vw, 1.3rem);
  margin-bottom: 20px;
}

.more-info-button {
  font-family: Montserrat;
  font-weight: 600;
  font-size: clamp(1rem, 1vw, 1.2rem);
  padding: clamp(10px, 2vw, 15px) clamp(15px, 3vw, 20px);
  background-color: rgba(54, 255, 4, 0.8);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.description-container {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-top: 50px;
}

.description-title {
  padding: 0 50px;
  font-size: 2.4vw;
  color: rgba(32, 152, 2, 0.8);
}

.fact-container,
.fact-reverse {
  display: flex;
  padding: 0 50px;
  font-size: 1.5vw;
  align-items: center;
  gap: 2vw;
}

.fact-reverse {
  flex-direction: row-reverse;
  text-align: end;
}

.fact {
  align-items: center;
}

.fact span {
  font-size: 1.5vw;
}

.fact-img {
  width: 40%;
  border-radius: 18px;
}

.hexagon {
  position: relative;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hexagon-svg svg {
  display: block;
  width: 100vw;
  height: calc(100vw / 3);
}

.hexagon-svg {
  display: block;
  width: 100%;
  overflow: hidden;
}

.content {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-content {
  position: absolute;
  text-align: center;
  color: white;
  padding: 20px;
  z-index: 10;
}

h1 {
  margin-top: 0;
  font-size: 2.4vw;
}

p {
  font-size: 1.2vw;
}

.news-container {
  padding: 0 4vw;
}

.news-title-container {
  display: flex;
  justify-content: space-between;
  height: 70px;
  color: rgba(32, 152, 2, 0.8);
}

.news-title {
  font-size: 2vw;
}

.new-container {
  display: flex;
  justify-content: space-between;
}

.new {
  position: relative;
  display: inline-block;
}

.new::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  mix-blend-mode: darken;
  z-index: 1;
}

.new-image {
  display: block;
  width: 24vw;
  height: 60vh;
  object-fit: cover;
}

.release-date,
.new-info {
  position: absolute;
  z-index: 2;
  color: white;
  padding: 10px;
}

.release-date {
  top: 6%;
  left: 6%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

.new-info {
  top: 50%;
  left: 6%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  width: 20vw;
}

.event-title {
  padding: 7vh 4vw;
  color: rgba(32, 152, 2, 0.8);
}

.swiper-container {
  position: relative;
  width: 100vw;
  height: 70vh;
}

.swiper-slide {
  position: relative;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.swiper-slide::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.event-poster {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  background: url("../images/event1.png") no-repeat center center;
  background-size: cover;
}

.event-text {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
  z-index: 2;
}

/* 7 */

.statistics-container {
  padding: 0 4vw;
  display: flex;
  justify-content: space-between;
}

.statistics {
  justify-content: first baseline;
}

.stat-amount {
  position: relative;
  display: flex;
  top: 0;
  height: 30vh;
  color: rgba(54, 255, 4, 0.8);
}

.stat-number {
  font-family: Montserrat;
  top: 0;
  height: 100%;
  font-size: 7em;
}

.stat-quantity {
  transform: rotate(270deg);
  position: absolute;
  top: 50%;
  left: 90%;
  transform: translateX(-50%) rotate(270deg);
}

.stat-text {
  font-size: 1.5em;
  color: rgba(32, 152, 2, 0.8);
}

/* 7 */

.teacher-container {
  width: 94vw;
  display: grid;
  grid-template-areas:
    "teacher1 teacher2 teacher3"
    "teacher4 teacher5 teacher6";
  gap: 10px;
  margin: 0 auto;
}

.teachers-title {
  text-align: center;
  margin-top: 8vh;
  margin-bottom: 20px;
  color: rgba(32, 152, 2, 0.8);
  font-size: 2vw;
}

.teacher-image {
  width: 30vw;
  height: 50vh;
  object-fit: cover;
}

.teacher-name {
  font-size: 2vw;
}

/* 7 */

.faq-section {
  width: 92vw;
  /* max-width: 1000px; */
  margin: 20px auto;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.faq-section h1 {
  color: #32a002;
  text-align: left;
}

.faq-container {
  border-top: 1px solid #ddd;
}

.faq-item {
  border-bottom: 1px solid #ddd;
}

.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  cursor: pointer;
  background: #fff;
  transition: background 0.3s;
}

.faq-question:hover {
  background: #f1f1f1;
}

.faq-question .faq-toggle {
  font-size: 1.5em;
}

.faq-answer {
  display: none;
  margin-left: 20px;
  padding: 15px;
  background: #f9f9f9;
}

.faq-item.open .faq-answer {
  display: block;
}

.faq-item.open .faq-question .faq-toggle {
  transform: rotate(45deg);
  transition: transform 0.3s;
}

/* 7 */

.contact-container {
  display: flex;
  width: 94vw;
  margin: 20px auto;
  justify-content: center;
  margin-top: 4vw;
}

.contact-container input {
  border-color: rgba(32, 152, 2, 0.8);
  border-width: 2px;
}

.contact-form p {
  font-size: 10vw;
}

.question {
  font-size: 3vw;
}

.contact-form {
  background-color: white;
  padding: 1.7vw;
  width: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.contact-form h1 {
  color: #4caf50;
}

.contact-form p {
  font-size: 14px;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.submit-button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

#map {
  width: 50%;
  /* height: 400px; */
  background-color: #ccc;
}

@media screen and (max-width: 1200px) {
  header {
    font-size: 0.95rem;
  }

  nav ul {
    gap: 20px;
  }
}

@media screen and (max-width: 1050px) {
  .main-screen {
    height: 90%;
  }

  header {
    font-size: 0.8rem;
  }

  .new-image {
    height: 45vh;
  }
}

@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
    height: auto;
    font-size: 0.75rem;
  }

  nav ul {
    flex-direction: column;
    gap: 10px;
  }

  .right-section {
    width: 100%;
    justify-content: center;
    margin-top: 10px;
  }
}
